.section7 .wrap .place, .section3 .place3,
.section6 .place3, .section3 .place2 .place, .section3 .place3 .place,
.section6 .place2 .place,
.section6 .place3 .place, .section6,
.place {
  width: 100%;
  height: 150px;
}

* {
  transition: 0.2s all ease-in-out;
}

body {
  background-color: whitesmoke;
}

.pipe {
  font-weight: bold;
  color: #112d60;
  text-decoration: underline;
  font-size: 2rem;
  margin-top: 100px !important;
  margin-bottom: 100px;
}

.section3 .place2, .section3 .place3,
.section6 .place2,
.section6 .place3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}
@media screen and (max-width: 500px) {
  .section3 .place2, .section3 .place3,
.section6 .place2,
.section6 .place3 {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
.section3 .place3,
.section6 .place3 {
  grid-row-gap: 10px;
}
.section3 .place3 .place,
.section6 .place3 .place {
  height: auto !important;
}

.section1 .wrap,
.section2 .wrap,
.section3 .wrap,
.section4 .wrap,
.section5 .wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}
@media screen and (max-width: 900px) {
  .section1 .wrap,
.section2 .wrap,
.section3 .wrap,
.section4 .wrap,
.section5 .wrap {
    grid-template-columns: 1fr !important;
    grid-row-gap: 10px !important;
    text-align: center;
  }
}
.section1 .wrap .block .place,
.section2 .wrap .block .place,
.section3 .wrap .block .place,
.section4 .wrap .block .place,
.section5 .wrap .block .place {
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 900px) {
  .section1 .wrap .block .place,
.section2 .wrap .block .place,
.section3 .wrap .block .place,
.section4 .wrap .block .place,
.section5 .wrap .block .place {
    min-width: 100%;
  }
}
.section1 .wrap .block p.content,
.section2 .wrap .block p.content,
.section3 .wrap .block p.content,
.section4 .wrap .block p.content,
.section5 .wrap .block p.content {
  font-size: 0.7rem;
}
.section1 .wrap .block .ctn.img,
.section2 .wrap .block .ctn.img,
.section3 .wrap .block .ctn.img,
.section4 .wrap .block .ctn.img,
.section5 .wrap .block .ctn.img {
  height: 200px;
  width: 200px;
}
.section1 .wrap .block .ctn,
.section2 .wrap .block .ctn,
.section3 .wrap .block .ctn,
.section4 .wrap .block .ctn,
.section5 .wrap .block .ctn {
  overflow: hidden;
}
.section1 .wrap .block .ctn:hover img,
.section2 .wrap .block .ctn:hover img,
.section3 .wrap .block .ctn:hover img,
.section4 .wrap .block .ctn:hover img,
.section5 .wrap .block .ctn:hover img {
  transform: scale(1.2);
}
.section1 .wrap .block .ctn img,
.section2 .wrap .block .ctn img,
.section3 .wrap .block .ctn img,
.section4 .wrap .block .ctn img,
.section5 .wrap .block .ctn img {
  transform: scale(1.1);
}
.section1 .wrap .block .ctn h3,
.section2 .wrap .block .ctn h3,
.section3 .wrap .block .ctn h3,
.section4 .wrap .block .ctn h3,
.section5 .wrap .block .ctn h3 {
  font-weight: bolder;
}
.section1 .wrap .block .ctn p.content,
.section2 .wrap .block .ctn p.content,
.section3 .wrap .block .ctn p.content,
.section4 .wrap .block .ctn p.content,
.section5 .wrap .block .ctn p.content {
  font-size: 0.7rem;
}
.section1 .wrap .block .ctn .btn,
.section2 .wrap .block .ctn .btn,
.section3 .wrap .block .ctn .btn,
.section4 .wrap .block .ctn .btn,
.section5 .wrap .block .ctn .btn {
  font-size: 0.5rem;
  background-color: #112d60;
  border: none;
}
.section1 .wrap .block .ctn .btn:hover,
.section2 .wrap .block .ctn .btn:hover,
.section3 .wrap .block .ctn .btn:hover,
.section4 .wrap .block .ctn .btn:hover,
.section5 .wrap .block .ctn .btn:hover {
  background-color: #04183d;
}
@media screen and (max-width: 900px) {
  .section1 .wrap .block .ctn .btn,
.section2 .wrap .block .ctn .btn,
.section3 .wrap .block .ctn .btn,
.section4 .wrap .block .ctn .btn,
.section5 .wrap .block .ctn .btn {
    min-width: 100%;
    font-size: 1rem;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .section5 .row:first-child .imgCarry {
    justify-content: center;
  }
}

.section6 .wrap .col-md-6 h4 {
  font-weight: bolder;
  border-left: 5px solid;
  padding-left: 10px;
}
.section6 .wrap .col-md-6 p.content {
  font-size: 0.7rem;
}
.section6 .wrap .col-md-6 .btn {
  font-size: 0.6rem;
  background-color: #112d60;
  border: none;
  border-radius: 0;
  padding: 0.5rem 2rem;
  margin-bottom: 5px;
}
.section6 .wrap .col-md-6 .btn:hover {
  background-color: #04183d;
}

.section7 .wrap {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}
@media screen and (max-width: 500px) {
  .section7 .wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
  .section7 .wrap .place {
    margin-bottom: 10px;
  }
  .section7 .wrap .box {
    margin-bottom: 10px;
  }
}
.section7 .wrap h4 {
  font-weight: bolder;
}
.section7 .wrap p.content {
  font-size: 0.7rem;
}